@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --ff-body: 'Space Mono', monospace;
  --ff-logo: 'Inconsolata', monospace;
  --ff-footer: 'Montserrat', sans-serif;
  --gray-800: #333;
  --gray-500: #4f4f4f;
  --gray-100: #bdbdbd;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-body);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: var(--gray-800);
}

header {
  padding-block: 2em;
  font-family: var(--ff-logo);
  text-align: left;
  width: 100%;
}
.logo {
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  flex: 1;
  max-width: 1200px;
  padding-bottom: 5em;
}
img {
    width: 100%;
  max-width: 500px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content h1{
    font-size: 2em;
}
.msg{
    margin-top: 2.25rem;
letter-spacing: -0.035em;

}
.btn {
  display: block;
  background-color: var(--gray-800);
  color: white;
  font-family: var(--ff-body);
  border: none;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-top: 4rem;
  transition: all 200ms ease-in-out;
}
.btn:hover, .btn:active{
    background-color: rgb(88, 87, 87);
}
footer {
  margin-top: auto;
  width: 100%;
  margin: auto;
  font-size: 0.875rem;
  text-align: center;
  color: var(--gray-100);
  padding-bottom: 2em;
}

footer a {
  color: inherit;
  font-weight: 700;
  transition: all 300ms ease-in-out;
}
footer a:hover {
  color: var(--gray-500);
}

@media screen and (min-width: 55em) {
  main {
    flex-direction: row;
  }
  .content h1{
      font-size: 3rem;
  }
  .msg{
      font-size: 1.5rem;
  }
}
